{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Skills</title>
  <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
</head>
<body>

{% include 'portfolio/navbar.html' %}

<section class="container section">
  <h2>Skills</h2>

  <h4>Backend</h4>
  <ul>
    <li>Django</li>
    <li>Python</li>
    <li>REST APIs</li>
  </ul>

  <h4>Frontend</h4>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
  </ul>

  <h4>Database</h4>
  <ul>
    <li>SQLite</li>
    <li>MySQL</li>
  </ul>
</section>

</body>
</html>
